apiVersion: v1
kind: Service
metadata:
  name: mediawiki
spec:
  type: NodePort
  selector:
    app: mediawiki
  ports:
    - name: http
      protocol: TCP
      targetPort: 8080
      port: 80
      nodePort: 30001
